
/* Mobile first design */
.form {
    width : 90%;
    padding : 20px;
    border: 1px solid rgb(245, 240, 240);
    border-radius : 10px;
    margin : auto;
    transition : 0.5s;
    margin: 20px auto;
    
}
.form:hover{
    box-shadow : 0px 0px 10px 2px rgb(194, 192, 192);
}
.form input, .form textarea, .form button,  .form select{
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    /* border: 1px solid rgb(208, 206, 206); */
    margin: 1px;
    transition: 0.5s linear;
    display: block;
}
.form input, .form textarea{
    flex-grow: 2;
    box-shadow: 0px 0px 5px 0px rgb(210, 209, 209);
    min-width: 80%;
    outline: 0;
    margin-bottom: 20px;
}

.form label{
    border: 1px solid rgb(246, 245, 245);
    display: block;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}
.form button{
    flex-grow: 1;    
    background-color : var(--success, teal);
    cursor: pointer;
}

.form button:hover{
    box-shadow: 0px 0px 5px 0px var(--success, teal);
}
.form .inputErr::before{
    content: "*"
}
.form .inputErr{
    color: red;
}

img{
    display: block;
    max-width: 99%;
    object-fit: cover;

}
.houseImages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.houseImages .houseImage{
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgb(198, 195, 195);
    margin: 10px;

}
@media screen and (min-width: 600px){
    .houseImages .houseImage{
        width: 30%;
    
    }
}
.updateImg{
    display: flex;
    justify-content: space-between;
}
input[name=additional]{
    margin-bottom: 0px;
}
.form button.add-btn, button.remove-btn{
    display: inline;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    margin: 0px;
}

button.remove-btn{
    padding: 5px;
}

.dbAmenities{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.dbAmenities span{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 20px;
}
.list-property-btn{
    background-color: navy;
    color: aliceblue;
    padding: 10px;
    border: 1px solid navy;
    display: block;
    margin: auto;
    min-width: 200px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.5s linear;
}
.list-property-btn:hover{
    box-shadow: 0px 0px 2px 0px navy;
}
